/.gitattributes export-ignore
/.gitignore export-ignore
/bin/* export-ignore
/bin/composer-install.sh !export-ignore
/bin/data/ !export-ignore
/tests export-ignore
/phpcs.xml export-ignore
/grumphp.yml export-ignore
/phpunit.xml.dist export-ignore
/src/system/test-framework.php  export-ignore
/src/system/config export-ignore
/src/system/library/session  export-ignore
/src/catalog/controller/startup export-ignore
/src/admin/controller/startup export-ignore
/.editorconfig export-ignore
/ocmod-to-support-third-party-extensions export-ignore
