/.gitattributes export-ignore
/.gitignore export-ignore
/bin export-ignore
/tests export-ignore
/phpcs.xml export-ignore
/grumphp.yml export-ignore
/phpunit.xml.dist export-ignore
/src/system/config  export-ignore
/src/system/library/session  export-ignore
/src/admin/controller/startup export-ignore